## Just testing serveral functions 
Text classification

In [5]:
import pandas as pd

In [7]:
data_path = './data/yelp_ratings.csv'

In [8]:
data = pd.read_csv(data_path)
data.head()

                                                text  stars  sentiment
0  Total bill for this horrible service? Over $8G...    1.0          0
1  I *adore* Travis at the Hard Rock's new Kelly ...    5.0          1
2  I have to say that this office really has it t...    5.0          1
3  Went in for a lunch. Steak sandwich was delici...    5.0          1
4  Today was my second out of three sessions I ha...    1.0          0

In [13]:
train_data = data.sample(frac=1, # axis-1
                        random_state=42)
train_data.head()

                                                    text  stars  sentiment
10092  This review is for Wynn Fitness Richmond Hill,...    4.0          1
26633  Great little dive with cheap drinks. The Burge...    5.0          1
29324  The pho it's self isn't bad at all, very littl...    2.0          0
15822  I love going there when I want to host a nice ...    4.0          1
6631   I ordered and after 40 minutes I get a text th...    1.0          0

In [ ]:
labels = [] # output of text  
for value in train_data.sentiment.values: 
    result = []
    print(result)
    labels.append(result)